In [92]:
#Import pandas library
import pandas as pd

In [93]:
#I am reading csv for a dataset I downloaded from Kaggle
#I am going to filter down this data to a specific league for a specific year to demonstrate how to use booleans to filter data in Pandas.
#.head() simply restricts the shown results to the first five rows
pd.read_csv("season_stats_teams_clean.csv").head()

,league_id,league_name,league_country,league_season,team_id,team_name,team_logo,form,fixtures_played_home,fixtures_played_away,...,goals_against_46_60_total,goals_against_46_60_percentage,goals_against_61_75_total,goals_against_61_75_percentage,goals_against_76_90_total,goals_against_76_90_percentage,goals_against_91_105_total,goals_against_91_105_percentage,goals_against_106_120_total,goals_against_106_120_percentage
0,1,World Cup,World,2022,767,Wales,https://media.api-sports.io/football/teams/767...,DLL,2,1,...,2,0.333,1,0.167,0,NaN,2,0.333,0,NaN
1,1,World Cup,World,2022,21,Denmark,https://media.api-sports.io/football/teams/21.png,DLL,1,2,...,1,0.333,1,0.333,1,0.333,0,NaN,0,NaN
2,1,World Cup,World,2018,18,Iceland,https://media.api-sports.io/football/teams/18.png,DLL,1,2,...,2,0.400,1,0.200,1,0.200,0,NaN,0,NaN
3,1,World Cup,World,2022,7,Uruguay,https://media.api-sports.io/football/teams/7.png,DLW,1,2,...,1,0.500,0,NaN,0,NaN,1,0.500,0,NaN
4,1,World Cup,World,2022,28,Tunisia,https://media.api-sports.io/football/teams/28.png,DLW,2,1,...,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN

In [94]:
#I am assigning a name to this dataframe to make it easier to use
season_team_stat_df = pd.read_csv("season_stats_teams_clean.csv")

In [95]:
season_team_stat_df.head()

,league_id,league_name,league_country,league_season,team_id,team_name,team_logo,form,fixtures_played_home,fixtures_played_away,...,goals_against_46_60_total,goals_against_46_60_percentage,goals_against_61_75_total,goals_against_61_75_percentage,goals_against_76_90_total,goals_against_76_90_percentage,goals_against_91_105_total,goals_against_91_105_percentage,goals_against_106_120_total,goals_against_106_120_percentage
0,1,World Cup,World,2022,767,Wales,https://media.api-sports.io/football/teams/767...,DLL,2,1,...,2,0.333,1,0.167,0,NaN,2,0.333,0,NaN
1,1,World Cup,World,2022,21,Denmark,https://media.api-sports.io/football/teams/21.png,DLL,1,2,...,1,0.333,1,0.333,1,0.333,0,NaN,0,NaN
2,1,World Cup,World,2018,18,Iceland,https://media.api-sports.io/football/teams/18.png,DLL,1,2,...,2,0.400,1,0.200,1,0.200,0,NaN,0,NaN
3,1,World Cup,World,2022,7,Uruguay,https://media.api-sports.io/football/teams/7.png,DLW,1,2,...,1,0.500,0,NaN,0,NaN,1,0.500,0,NaN
4,1,World Cup,World,2022,28,Tunisia,https://media.api-sports.io/football/teams/28.png,DLW,2,1,...,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN

In [96]:
#I can see there are 58 columns, but I want to know how many rows there are. I'll use .shape to see.
season_team_stat_df.shape

(4478, 58)

In [97]:
#I want to see what column labels we have so that I can eliminate columns that don't interest me.
season_team_stat_df.columns.tolist()

['league_id',
 'league_name',
 'league_country',
 'league_season',
 'team_id',
 'team_name',
 'team_logo',
 'form',
 'fixtures_played_home',
 'fixtures_played_away',
 'fixtures_played_total',
 'fixtures_wins_home',
 'fixtures_wins_away',
 'fixtures_wins_total',
 'fixtures_draws_home',
 'fixtures_draws_away',
 'fixtures_draws_total',
 'fixtures_loses_home',
 'fixtures_loses_away',
 'fixtures_loses_total',
 'goals_for_home',
 'goals_for_away',
 'goals_for_total',
 'goals_against_home',
 'goals_against_away',
 'goals_against_total',
 'goals_for_0_15_total',
 'goals_for_0_15_percentage',
 'goals_for_16_30_total',
 'goals_for_16_30_percentage',
 'goals_for_31_45_total',
 'goals_for_31_45_percentage',
 'goals_for_46_60_total',
 'goals_for_46_60_percentage',
 'goals_for_61_75_total',
 'goals_for_61_75_percentage',
 'goals_for_76_90_total',
 'goals_for_76_90_percentage',
 'goals_for_91_105_total',
 'goals_for_91_105_percentage',
 'goals_for_106_120_total',
 'goals_for_106_120_percentage',
 'goals_against_0_15_total',
 'goals_against_0_15_percentage',
 'goals_against_16_30_total',
 'goals_against_16_30_percentage',
 'goals_against_31_45_total',
 'goals_against_31_45_percentage',
 'goals_against_46_60_total',
 'goals_against_46_60_percentage',
 'goals_against_61_75_total',
 'goals_against_61_75_percentage',
 'goals_against_76_90_total',
 'goals_against_76_90_percentage',
 'goals_against_91_105_total',
 'goals_against_91_105_percentage',
 'goals_against_106_120_total',
 'goals_against_106_120_percentage']

In [98]:
#I'll use .value_counts() just to get some more general information about my dataset.
season_team_stat_df.league_name.value_counts()

league_name
UEFA Europa League           1436
UEFA Champions League         786
Major League Soccer           248
Championship                  240
Premier League                200
Serie A                       200
La Liga                       200
Ligue 1                       199
Bundesliga                    186
CONCACAF Champions League     171
Pro League                    144
Africa Cup of Nations          80
Euro Championship              79
CONCACAF Gold Cup              72
NWSL Women                     66
World Cup                      64
Copa America                   54
FIFA Club World Cup            53
Name: count, dtype: int64

In [99]:
season_team_stat_df.league_season.value_counts()

league_season
2020    522
2019    502
2018    501
2017    487
2016    468
2015    459
2024    405
2021    388
2023    379
2022    367
Name: count, dtype: int64

In [100]:
#I personally enjoy watching La Liga more than other leagues, so I want to filter the data to only show rows matching that league name.
la_liga_df = season_team_stat_df[ season_team_stat_df["league_name"] == "La Liga"]
print(la_liga_df.shape)
la_liga_df.head()

(200, 58)

,league_id,league_name,league_country,league_season,team_id,team_name,team_logo,form,fixtures_played_home,fixtures_played_away,...,goals_against_46_60_total,goals_against_46_60_percentage,goals_against_61_75_total,goals_against_61_75_percentage,goals_against_76_90_total,goals_against_76_90_percentage,goals_against_91_105_total,goals_against_91_105_percentage,goals_against_106_120_total,goals_against_106_120_percentage
3964,140,La Liga,Spain,2024,532,Valencia,https://media.api-sports.io/football/teams/532...,LLLDLWDLDLDWLL,7,7,...,7,0.333,1,0.048,4,0.191,2,0.095,0,NaN
3965,140,La Liga,Spain,2024,533,Villarreal,https://media.api-sports.io/football/teams/533...,DWWDWLWWLDWWDDL,7,8,...,6,0.231,5,0.192,3,0.115,1,0.038,0,NaN
3966,140,La Liga,Spain,2024,540,Espanyol,https://media.api-sports.io/football/teams/540...,LLDWWLLLWLLLLWL,7,8,...,4,0.138,4,0.138,5,0.172,0,NaN,0,NaN
3967,140,La Liga,Spain,2024,728,Rayo Vallecano,https://media.api-sports.io/football/teams/728...,WDLLWDDDWLWLLLW,7,8,...,4,0.235,2,0.118,4,0.235,3,0.176,0,NaN
3968,140,La Liga,Spain,2024,546,Getafe,https://media.api-sports.io/football/teams/546...,DDDLLDLWDDDLLWLW,9,7,...,1,0.077,2,0.154,1,0.077,0,NaN,0,NaN

In [101]:
#I've decided to pull La Liga team statistics from last year in particular, so I am going to add another condition to my filter.
filter_criteria = (season_team_stat_df["league_name"] == "La Liga") & (season_team_stat_df["league_season"] == 2024)
liga_2024_df = season_team_stat_df[ filter_criteria ]
print(liga_2024_df.shape)
liga_2024_df.head()

(20, 58)

,league_id,league_name,league_country,league_season,team_id,team_name,team_logo,form,fixtures_played_home,fixtures_played_away,...,goals_against_46_60_total,goals_against_46_60_percentage,goals_against_61_75_total,goals_against_61_75_percentage,goals_against_76_90_total,goals_against_76_90_percentage,goals_against_91_105_total,goals_against_91_105_percentage,goals_against_106_120_total,goals_against_106_120_percentage
3964,140,La Liga,Spain,2024,532,Valencia,https://media.api-sports.io/football/teams/532...,LLLDLWDLDLDWLL,7,7,...,7,0.333,1,0.048,4,0.191,2,0.095,0,NaN
3965,140,La Liga,Spain,2024,533,Villarreal,https://media.api-sports.io/football/teams/533...,DWWDWLWWLDWWDDL,7,8,...,6,0.231,5,0.192,3,0.115,1,0.038,0,NaN
3966,140,La Liga,Spain,2024,540,Espanyol,https://media.api-sports.io/football/teams/540...,LLDWWLLLWLLLLWL,7,8,...,4,0.138,4,0.138,5,0.172,0,NaN,0,NaN
3967,140,La Liga,Spain,2024,728,Rayo Vallecano,https://media.api-sports.io/football/teams/728...,WDLLWDDDWLWLLLW,7,8,...,4,0.235,2,0.118,4,0.235,3,0.176,0,NaN
3968,140,La Liga,Spain,2024,546,Getafe,https://media.api-sports.io/football/teams/546...,DDDLLDLWDDDLLWLW,9,7,...,1,0.077,2,0.154,1,0.077,0,NaN,0,NaN

In [102]:
#The team stat that interests me most is points scored and points allowed, so I am going to print only those columns.
print(liga_2024_df[['team_name', 'goals_for_total', 'goals_against_total']])

            team_name  goals_for_total  goals_against_total
3964         Valencia               13                   22
3965       Villarreal               27                   25
3966         Espanyol               15                   28
3967   Rayo Vallecano               15                   16
3968           Getafe               11                   13
3969       Real Betis               18                   20
3970       Las Palmas               22                   27
3971          Sevilla               17                   23
3972           Girona               22                   23
3973          Leganes               14                   23
3974  Atletico Madrid               30                   11
3975      Real Madrid               34                   13
3976          Osasuna               22                   25
3977           Alaves               18                   27
3978    Real Sociedad               16                   11
3979       Valladolid               11                   34
3980       Celta Vigo               25                   27
3981         Mallorca               16                   20
3982    Athletic Club               26                   15
3983        Barcelona               50                   19

In [103]:
#I am going to reassign these three columns as their own table so that it is easier to sort.
final_df = liga_2024_df[['team_name', 'goals_for_total', 'goals_against_total']]
print(final_df)

            team_name  goals_for_total  goals_against_total
3964         Valencia               13                   22
3965       Villarreal               27                   25
3966         Espanyol               15                   28
3967   Rayo Vallecano               15                   16
3968           Getafe               11                   13
3969       Real Betis               18                   20
3970       Las Palmas               22                   27
3971          Sevilla               17                   23
3972           Girona               22                   23
3973          Leganes               14                   23
3974  Atletico Madrid               30                   11
3975      Real Madrid               34                   13
3976          Osasuna               22                   25
3977           Alaves               18                   27
3978    Real Sociedad               16                   11
3979       Valladolid               11                   34
3980       Celta Vigo               25                   27
3981         Mallorca               16                   20
3982    Athletic Club               26                   15
3983        Barcelona               50                   19

In [104]:
#I am sorting values here based on which team scored the most goals with the output in descending order.
final_df.sort_values('goals_for_total', ascending=False)

            team_name  goals_for_total  goals_against_total
3983        Barcelona               50                   19
3975      Real Madrid               34                   13
3974  Atletico Madrid               30                   11
3965       Villarreal               27                   25
3982    Athletic Club               26                   15
3980       Celta Vigo               25                   27
3970       Las Palmas               22                   27
3972           Girona               22                   23
3976          Osasuna               22                   25
3969       Real Betis               18                   20
3977           Alaves               18                   27
3971          Sevilla               17                   23
3981         Mallorca               16                   20
3978    Real Sociedad               16                   11
3967   Rayo Vallecano               15                   16
3966         Espanyol               15                   28
3973          Leganes               14                   23
3964         Valencia               13                   22
3979       Valladolid               11                   34
3968           Getafe               11                   13

In [105]:
#Lastly for this exploration, I want to sort by goals allowed in ascending order since the best defense will allow the fewest points.
final_df.sort_values('goals_against_total')

            team_name  goals_for_total  goals_against_total
3978    Real Sociedad               16                   11
3974  Atletico Madrid               30                   11
3968           Getafe               11                   13
3975      Real Madrid               34                   13
3982    Athletic Club               26                   15
3967   Rayo Vallecano               15                   16
3983        Barcelona               50                   19
3981         Mallorca               16                   20
3969       Real Betis               18                   20
3964         Valencia               13                   22
3971          Sevilla               17                   23
3972           Girona               22                   23
3973          Leganes               14                   23
3976          Osasuna               22                   25
3965       Villarreal               27                   25
3970       Las Palmas               22                   27
3977           Alaves               18                   27
3980       Celta Vigo               25                   27
3966         Espanyol               15                   28
3979       Valladolid               11                   34